#root {
  margin: 0;
  padding: 0;
}

#game-container {
  width: 980px;
  height: 100vh;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  display: block;
}

#game-container,
#game-container * {
  cursor: none;
}

#game-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
