@font-face {
  font-family: "Galmuri11";
  src: url("/assets/fonts/Galmuri11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galmuri11-Bold";
  src: url("/assets/fonts/Galmuri11-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: none;
  -moz-font-smoothing: never;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-smooth: never;
  -webkit-text-size-adjust: 100%;
}

#game-container {
  width: 980px;
  height: 100vh;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  display: block;
}

#game-container,
#game-container * {
  cursor: none;
  -webkit-font-smoothing: none;
  -moz-font-smoothing: never;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-rendering: optimizeSpeed;
}

#game-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
